[Unit]
Description=free_dns
After=local-fs.target network.target network-online.target
Wants=network-online.target

[Service]
User=nobody
Type=exec
ExecStart=/usr/local/bin/freedns.sh

[Install]
WantedBy=freedns.timer
