[Unit]
Description=free_dns
After=local-fs.target network.target network-online.target
Wants=network-online.target

[Service]
User=nobody
Type=simple
StandardOutput=syslog
StandardError=syslog
Restart=no
ExecStart=/usr/local/sbin/free_dns